.cell {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex: 1 0;
	position: relative;
	padding: 20px;

	&:not(:last-child) {
		border-right: 20px solid #336633;
	}
	&-o {
		color: #330066;
	}
	&-x {
		color: black;
	}
}
.icon_wrap {
	transform: scale(3);
}