.field {
	&-wrapper {
		padding: 10px;
		flex-grow: 1;
		display: flex;
	}
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	&-row {
		display: flex;
		flex: 1 0;
		&:not(:last-child) {
			border-bottom: 20px solid #336633;
		}
	}
}