.opponent_screen {
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.button {
	margin-top: 16px;
	background: transparent;
	background: #3f51b5;
	color: white;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 8px 12px;
	border-radius: 8px;
	border: none;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	cursor: pointer;
	transition: .3s;
	& svg {
		margin-right: 5px;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		box-shadow: 2px 2px 10px #00695C;
	}
	&:active {
		background: #303f9f;
	}
}
.disabled {
	pointer-events: none;
	background-color: #BDBDBD;
	color: #757575;
}